/*variables*/

:root{
 --primary:#E3C567;
 --secondary:#CB48B7;
 --tertiary:#A9B3CE;
 --quartenary:#FF6700;
 --quinaries:#F4845F;

}
/*fonts family*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');


/*reset*/
body,p,a,ul,li{
    margin:0;
    padding:0;
    text-decoration:none;
    /*font-family:  'Pacifico','Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;*/
    font-family:  'Orbitron', sans-serif;

}

/*bases style*/
/*407*653*/
body{
background:var(--tertiary);
overflow-x: hidden;
display: flex;
flex-direction: column;

}
#bloc_page{
    width:auto;/*437px*/
    margin: auto;
   
   

}
.main{
flex: 1 1 auto;
}
.button{
    background:var(--tertiary);
   /* border: 2px solid var(--quartenary);*/
   /* color: var(--quartenary);*/
    padding: 6px 12px;
    margin: 8px;
    margin-top:0px;
    border-top: 5px inset var(--primary);
    border-radius: 40px;
    
    display: inline-block;
    font-size: 1em;
}

.button:hover{
    color:red;
    background: var(--primary);
}   


/*Fonts*/

.important_title{
    color:var(--primary);
    font-size:2.5em;

text-shadow:var(--tertiary) 1px 3px 0px, var(--tertiary) 1px 13px 5px;
user-select: auto;
}
h1,h2,h3,h4,h5{
    color:#DDDBFF;
    font-weight:normal;
    line-height: 1.0em;
    font-family: 'Orbitron', sans-serif;
    text-shadow: #A9B3CE;/* a verifier*/

    
    
    
}

/*Header*/
header{
    background:url('assets/img/Brick\ Wall\ Brick\ Wall\ Brown.jpg');
   background-repeat:no-repeat;

    height:40vh;/*20vh*/
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;/*rajouté le 23/04/2022 a rajouter dans les media queries*/
    align-items: flex-start;
    flex-wrap:  wrap;

}

/*----------------------------------------menu burger----------------------------------------------------------------------------------------*/
/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;/*250px*/
    position: fixed;
    z-index: 12;
    /*width: 375px;
    height: 200px;*/
    top: 0;/*259px et 0*/
    left: -250px;
   
    background-color: var(--primary);
    padding-top: 60px;
    transition: left 0.5s ease;
  }
  
  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--secondary);
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color:var(--secondary);
  }
  
  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Active class */
  .sidenav.active {
    left: 0;
  }
  
  /* Close btn */
  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  /* Icône burger */
  .burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: var(--primary);
    margin: 6px 0;
  }
  
/*----------------------------------------------------------------------------------------------------------------------------------------------*/
.titre_principal{
    margin: auto;
}
nav{
    margin: auto;
    
}
/*corps*/
.article_1_section{

padding:20px;
margin:15px;
}

.p_article_section{
    text-align:justify;
}
.img_article1{
    float:left;
    margin-right:10px;
    
    
    
}
/*ASIDE*/

aside{background:var(--quinaries);
    padding:30px ;
}
.aside_vesubie{
    align-self:flex-end;
}
.aside{
 display: flex;
 flex-direction: row-reverse;
 align-items: center;
 margin: 0.5px;
}
.aside_titleh3{
    font-size:1.5em;
    text-align: center;
}
.img_aside{
    display:flex;
    justify-content: center;
    margin-top: 30px;
}
/*FOOTER*/
footer{
    display: flex;
    justify-content: center;
    
    background: var(--primary);
    gap: 2em;
    
    

}
.footer_article1{
    margin-left: 20px;
}
.footer_photoguitare{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.footer_listes{
    display: flex;
    flex-wrap:  wrap;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    
}

/*FIRST_INDEX.HTML*/
/*page principale*/
/*---------------*/
.body{
    background:white;
    overflow-x: hidden;
    /*font-family*/
    }
.main_background{
    background: url("assets/img/background.jpg");
    background-repeat: no-repeat;

    background-position: center;
    height: 100vh;

}
.h2{
    display: none;
}
/*formulaire style*/
form{
    display: flex;
    flex-direction: column;
    background-color:var(--tertiary);
    padding:1em;
    margin: 3em;
}
form>div{
    width: auto;
}

form>div+div{
    margin-left: 0;
    margin-bottom: 1em;
}
input{
    width:100%;
}







/*small tablet styles*/
@media screen and (min-width:215px)and (max-width:699px){
    #bloc_page{
        width: auto;
        margin: auto;
        
    }
    
    
    .nav{
        display: none;
    }
    


}

/*large tablet & laptopstyles*/
@media screen and (min-width:700px){/*600px*/
    body{
        font-size:18px;
    }
    #bloc_page{
        width: auto;
        margin:auto;
        
    }
    .nav{
        display:block;
    }
    header{
        background-size:100vw;
        flex-direction: row-reverse;
    }
    

    /*MENU BURGER*/
    .sidenav,.burger-icon{
        display: none;
    }
   .media_background{
       display:none;
   }
   form {
    display:flex;
    flex-direction: row;
}
form>fieldset{
    width: 50%;
}
form>fieldset+fieldset{
    margin-left: 1em;
}
  
}

/*desktop styles*/
@media screen and (min-width:1000px) {
    body{
        font-size:20px;
    }
    #bloc_page{
        width: auto;
        margin:auto;
    }

    header{
        background-size:100vw;
        flex-direction: row-reverse;/*row*/
    }
    nav{
        margin: auto;
    
    }
    .main{
        display: flex;
        
    }
 
    /*aside*/
    .aside{
          
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
}

    aside{
        background: var(--quinaries);
       margin-top: 100px;
        width: 407px;
}

/*footer*/
footer{
    height: 30vh;
    align-items: center;
}
.influence{
    align-self:flex-start;
}
/*page principale*/
.title_main_firstindex{
    align-self: center;
} 
.main_background{
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin : 150px;

    gap:200px;
}
.h2{
    display:inline-block;
    position: relative;
    top:60px;
}

form {
    display:flex;
    flex-direction: row;
}
form>fieldset{
    width: 50%;
}
form>fieldset+fieldset{
    margin-left: 1em;
}
}








 
