/*variables*/

:root{
 --primary:#E3C567;
 --secondary:#CB48B7;
 --tertiary:#A9B3CE;
 --quartenary:#FF6700;
 --quinaries:#F4845F;

}
/*fonts family*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Pacifico&family=Palette+Mosaic&family=Raleway:wght@300;400;500&family=Shizuru&family=Syne+Tactile&display=swap');

/*reset*/
body,p,a,ul,li{
    margin:0;
    padding:0;
    text-decoration:none;
    font-family: 'Pacifico', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*bases style*/
/*407*653*/
body{
background:var(--tertiary);
overflow-x: hidden;

}
#bloc_page{
    width:437px;
    margin: auto;



}
.button{
    background:var(--tertiary);
    border: 2px solid var(--quartenary);
    color: var(--quartenary);
    padding: 6px 12px;
    border-radius:1px 3px 2px rgba(0,0,0,0.5);
    display: inline-block;
    font-size: 1em;
}

.button:hover{
    color:var(--quinaries);
    background: var(--quartenary);
}   


/*Fonts*/
@font-face{
    font-family: 'berkshireswash-regular.ttf';
    src: url('assets/fonts/berkshireswash-regular.ttf'); 
}
h1,h2,h3,h4,h5{
    color:#DDDBFF;
    font-weight:normal;
    line-height: 1.0em;
}

/*Header*/
header{
    background:url('assets/img/Brick\ Wall\ Brick\ Wall\ Brown.jpg');
   background-repeat:no-repeat;

    height:20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}
.titre_principal{
    margin: auto;
}
nav{
    margin: auto;
}
/*corps*/
.article_1_section{

padding:20px;
margin:15px;
}

.p_article_section{
    text-align:justify;
}
.img_article1{
    float:left;
    margin-right:10px;
    
    
    
}
/*ASIDE*/

aside{background:var(--quinaries);
    padding:30px ;
}
.aside_vesubie{
    align-self:flex-end;
}
.aside{
 display: flex;
 flex-direction: row-reverse;
 align-items: center;
 margin: 0.5px;
}
.aside_titleh3{
    font-size:1.5em;
    text-align: center;
}
.img_aside{
    display:flex;
    justify-content: center;
    margin-top: 30px;
}
/*FOOTER*/
footer{
    display: flex;
    justify-content: center;
    background: var(--primary);
    gap: 2em;
    

}
.footer_article1{
    margin-left: 20px;
}
.footer_photoguitare{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.footer_listes{
    display: flex;
    flex-wrap:  wrap;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    
}

/*FIRST_INDEX.HTML*/
/*page principale*/
/*---------------*/
.body{
    background:white;
    overflow-x: hidden;
    /*font-family*/
    }
.main_background{
    background: url("assets/img/background.jpg");
    background-repeat: no-repeat;

    background-position: center;
    height: 100vh;

}
.h2{
    display: none;
}
/*formulaire style*/
form{
    display: flex;
    flex-direction: column;
    background-color:var(--tertiary);
    padding:1em;
    margin: 3em;
}
form>div{
    width: auto;
}

form>div+div{
    margin-left: 0;
    margin-bottom: 1em;
}
input{
    width:100%;
}







/*small tablet styles*/
@media screen and(min-width: 410px){
    #bloc_page{
        width: auto;
        margin: auto;
        
    }
    
    /*Style first_index.html*/


}

/*large tablet & laptopstyles*/
@media screen and (min-width:445px){
    body{
        font-size:18px;
    }
    #bloc_page{
        width: auto;
        margin:auto;
        
    }
   .media_background{
       display:none;
   }
  
}

/*desktop styles*/
@media screen and (min-width:700px) {
    body{
        font-size:20px;
    }
    #bloc_page{
        width: auto;
        margin:auto;
    }

    header{background-size:100vw}
    nav{
        margin: auto;
    }
    .main{
        display: flex;
        
    }
 
    /*aside*/
    .aside{
          
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
}

    aside{
        background: var(--quinaries);
       margin-top: 100px;
        width: 407px;
}

/*footer*/
footer{height: 30vh;}
/*page principale*/
.title_main_firstindex{
    align-self: center;
} 
.main_background{
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin : 150px;

    gap:200px;
}
.h2{
    display:inline-block;
    position: relative;
    top:60px;
}
 








    
     
    
 
 
}

@media screen and (min-width:1000px){
    form {
        display:flex;
        flex-direction: row;
    }
    form>fieldset{
        width: 50%;
    }
    form>fieldset+fieldset{
        margin-left: 1em;
    }
}






 
